body {
  font-family: Tahoma, Geneva, sans-serif;
}

.center {
  margin: auto;
  width: 90%;
}

.bar {
  text-align: center;
}

#navigation {
  padding-left: 0px;
}

#navigation li {
  list-style: none;
  display: block;
  float: left;
}

#navigation li a {
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.6em;
  margin 0 .5em;
  float: left;
  width: auto;
  border: none;
  padding: 10px 15px 9px 15px !important;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  background: #6b6b6b;
}

#navigation li a:hover {
  background: #404040;
}

#navigation li a.active {
  background: #27ff0f;
  text: black;
}

.notification {
  list-style: none;
  padding: 0 0 0 0;
}

.notification li {
  background: #c2c2c2;
  position: relative;
  margin: 1em 3em;
  padding: 1em 1.5em 1em 1.5em !important;
  border-radius: 0.2em;
  font-size: 1.2em;
}

.rectangle {
  height: calc(1.9em + 20px);
  position: relative;
  margin: 2em 2em;
  background: #6b6b6b;
  box-shadow: 0 4px 2px -2px #27ff0f;
}

.input-section {
  text-align: right;
  margin: 3em 3em;
}

