<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>readings</servlet-name>
		<servlet-class>com.json.Reading</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>readings</servlet-name>
		<url-pattern>/reading.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>setup</servlet-name>
		<servlet-class>com.json.Setup</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>setup</servlet-name>
		<url-pattern>/setup.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>recommendations</servlet-name>
		<servlet-class>com.data.Recommendations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recommendations</servlet-name>
		<url-pattern>/recommendations</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>data</servlet-name>
		<servlet-class>com.data.Data</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>data</servlet-name>
	<url-pattern>/data</url-pattern>
	</servlet-mapping>

</web-app>
